.intro {
  &__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    color: $white;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    color: $white;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__descr {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 60px;
  }
  &__btn {
    width: 100%;
    font-size: 15px;
    max-width: 300px;
  }
}
