.section-reviews {
  padding-bottom: 20px;
  &__text {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }

  &__name {
    color: $red;
    font-size: 18px;
    font-weight: 700;
  }

  &__img {
    img {
      border-radius: 10rem;
      display: block;
      margin: 0 auto 10px;
    }
  }
}

.section-reviews .slick-dots {
  list-style: none;
  text-align: center;
}

.section-reviews .slick-dots button {
  border-radius: 10rem;
  font-size: 0;
  border: 1px solid #ccc;
  width: 16px;
  height: 16px;
  transition: background-color 0.2s ease-in-out;
}

.section-reviews .slick-dots button:hover {
  background-color: #0d6efd;
}

.section-reviews .slick-dots li {
  display: inline-block;
}

.section-reviews .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.slick-active button {
  background-color: #0d6efd;
}
