.section-team {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    row-gap: 20px;
  }
  &__item {
    text-align: center;
    background-color: #f9f9f9;
    padding: 30px 20px 40px;
    box-shadow: 0 7px 24.3px 2.7px rgb(91 89 89 / 14%);
    position: relative;
    width: 100%;
    max-width: 32%;
    margin-right: 1%;
  }
  &__name {
    color: $red;
    margin: 5px 0 ;
  }
  &__text {
    p {
      font-size: 15px;
    }
  }
}