<footer class="footer footer-top">
  <div class="container">
    <div class="footer-top__inner">
      <div class="footer-top__item">
        <div class="footer-top__text">
          <h3 class="footer-top__title">Режим работы</h3>
          <div class="footer-top__contacts">
            <svg class="footer-icons">
              <use xlink:href="assets/templates/images/sprite.svg#map"></use>
            </svg>
            <span class="footer-top__rabota">Режим работы: с 12 до 22: Воскресение: выходной</span>
          </div>
        </div>
      </div>
      <div class="footer-top__item">
        <div class="footer-top__text">
          <h3 class="footer-top__title">Социальные сети</h3>
          <ul class="list-reset footer-top__social-list">
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#" target="_blank">
                <svg class="icons footer-social__icons">
                  <use xlink:href="assets/templates/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#" target="_blank">
                <svg class="icons footer-social__icons">
                  <use xlink:href="assets/templates/images/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
            <li class="footer-top__social-item">
              <a class="footer-top__social-link" href="#" target="_blank">
                <svg class="icons footer-social__icons">
                  <use xlink:href="assets/templates/images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-top__item">
        <div class="footer-top__btn">
          <button class="btn footer__btn" data-modal="consultation" type="button">Заказать звонок</button>
        </div>
      </div>
    </div>
  </div>
</footer>