<section class="section section-guarantees" id="guarantees">
  <div class="container container--fluid">
    <div class="section-guarantees__inner">
      <div class="section-guarantees__item">
        <div class="section-guarantees__img">
          <img src="assets/templates/images/guarantee/guarantee-1.jpg" alt="">
        </div>
      </div>
      <div class="section-guarantees__item">
        <div class="section-guarantees__text">
          <h3 class="section-guarantees__title">Сервисный центр по ремонту ноутбуков и телефонов — преимущества и
            гарантии</h3>
          <p class="section-guarantees__descr">Немедленно позвоните в сервисный центр. Проникновение жидкости
            внутрь
            уже произошло, а значит процесс окисления
            контактов и коррозии уже начался. На какой стадии удастся его остановить во многом зависит от того,
            насколько быстро за
            дело возьмутся специалисты</p>
        </div>
      </div>
    </div>
  </div>
</section>
