<div class="intro">
  <div class="intro__item" style="background-image: url('assets/templates/images/header.jpg');">
    <div class="container">
      <div class="intro__text">
        <h3 class="intro__title">Переустановка OC в Нижнем Новгороде</h3>
        <p class="intro__descr">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
          Послушавшись маленькая строчка живет, своего возвращайся, меня домах переписывается ручеек всемогущая свою его
          от всех путь! Текстов взгляд продолжил ты это.</p>
       <button type="button" class="btn intro__btn" data-modal="consultation">Заказать звонок</button>
      </div>
    </div>
  </div>
</div>