<div class="modal" id="consultation">
  <div class="modal-inner">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">Заказать звонок</h3>
          </div>
          <form class="form section-contacts__form">
              <div class="modal__success">Наши специалисты свяжутся с вами в ближайшее время!</div>
              <label class="form__label section-contacts__label">
             
                  <input type="text" name="name" class="form__input section-contacts__input" placeholder="Имя"
                         required>
              </label>
              <label class="form__label section-contacts__label">
             
                  <input type="text" name="phone" class="form__input section-contacts__input phone"
                         placeholder="Телефон" required>
              </label>
           
              <textarea class="form__textarea" name="message" placeholder="Ваше сообщение"
                        required></textarea>
              <button class="btn modal__btn" type="submit">Отправить</button>
          </form>
          <div class="modal-footer">
            <p>Я согласен (а) на обработку моих персональных данных с политикой конфиденциальности</p>
        </div>
          <button class="modal-close" type="button">&times;</button>
      </div>
  </div>
</div>
<div class="modal" id="order">
  <div class="modal-inner">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title">Оставить заявку:</h3>
              <div class="modal-descr"></div>
          </div>
          <form class="form section-contacts__form">
              <div class="modal__success">Наши специалисты свяжутся с вами в ближайшее время!</div>
              <label class="form__label section-contacts__label">
             
                  <input type="text" name="name" class="form__input section-contacts__input" placeholder="Имя"
                         required>
              </label>
              <label class="form__label section-contacts__label">
             
                  <input type="text" name="phone" class="form__input section-contacts__input phone"
                         placeholder="Телефон" required>
              </label>
           
              <textarea class="form__textarea" name="message" placeholder="Ваше сообщение"
                        required></textarea>
              <button class="btn modal__btn" type="submit">Отправить</button>
          </form>
          <div class="modal-footer">
            <p>Я согласен (а) на обработку моих персональных данных с политикой конфиденциальности</p>
        </div>
          <button class="modal-close" type="button">&times;</button>
      </div>
  </div>
</div>
