<section class="section section-reviews" id="reviews">
  <div class="container">
    <div class="section-header">
      <h3 class="section-header__title title">Отзывы</h3>
    </div>
    <div class="section-reviews__inner">
      <div class="section-reviews__item">
        <div class="section-reviews__img">
          <img src="assets/templates/images/reviews/reviews-1.jpg" alt="">
        </div>
        <div class="section-reviews__text">
          <p class="section-reviews__name">Влад</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Выйти деревни
            там,
            текст, маленький последний парадигматическая пунктуация проектах запятой осталось города вдали эта
            большой журчит прямо моей реторический имени.</p>
        </div>
      </div>
      <div class="section-reviews__item">
        <div class="section-reviews__img">
          <img src="assets/templates/images/reviews/reviews-1.jpg" alt="">
        </div>
        <div class="section-reviews__text">
          <p class="section-reviews__name">Влад</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Выйти деревни
            там,
            текст, маленький последний парадигматическая пунктуация проектах запятой осталось города вдали эта
            большой журчит прямо моей реторический имени.</p>
        </div>
      </div>
      <div class="section-reviews__item">
        <div class="section-reviews__img">
          <img src="assets/templates/images/reviews/reviews-1.jpg" alt="">
        </div>
        <div class="section-reviews__text">
          <p class="section-reviews__name">Влад</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Выйти деревни
            там,
            текст, маленький последний парадигматическая пунктуация проектах запятой осталось города вдали эта
            большой журчит прямо моей реторический имени.</p>
        </div>
      </div>
    </div>
  </div>
</section>