<section class="section section-tarifs" id="tarifs">
	<div class="container">
		<div class="section-header">
			<h3 class="section-header__title title">Тарифы</h3>
		</div>
		<div class="section-tarifs__inner">
			<div class="section-tarifs__item">
				<div class="section-tarifs__img">
					<img
						class="section-tarifs__img"
						src="assets/templates/images/tarifs/tarifs-1.jpg"
						alt=""
					/>
				</div>
				<div class="section-tarifs__text">
					<h3 class="section-tarifs__title">Ремонт iPhone</h3>
					<p>
						В Нижнем Новгороде с 12:00 до 22:00 работает сервис по ремонту
						iPhone (модель iPhone любая!) высококачественное обслуживание.
						Быстро, удобно и без проблем. При этой услуги действует бесплатная
						диагностика iPhone. Делаем все аккуратно и без последствий. Работают
						профессионалы
					</p>
				</div>
				<div class="section-tarifs__price-inner">
					<span class="section-tarifs__price">1000 р</span>
					<button class="btn section-tarifs__btn" data-modal="order">Оставить заявку</button>
				</div>
			</div>
			<div class="section-tarifs__item">
				<div class="section-tarifs__img">
					<img
						class="section-tarifs__img"
						src="assets/templates/images/tarifs/tarifs-2.jpg"
						alt=""
					/>
				</div>
				<div class="section-tarifs__text">
					<h3 class="section-tarifs__title">Ремонт компьютеров</h3>
					<p>
						Ремонт компьютера по доступной цене. Сотрудник в день поступления
						высшего звонка, приступает к своим прямым обязанностям. Гарантируем
						качество ремонта. Ремонту подвергается все изъяны, устранения
						неполадок ПК любой сложности. Предлагаем провести бесплатную
						диагностику
					</p>
				</div>
				<div class="section-tarifs__price-inner">
					<span class="section-tarifs__price">1000 р</span>
					<button class="btn section-tarifs__btn" data-modal="order">Оставить заявку</button>
				</div>
			</div>
			<div class="section-tarifs__item">
				<div class="section-tarifs__img">
					<img
						class="section-tarifs__img"
						src="assets/templates/images/tarifs/tarifs-3.jpg"
						alt=""
					/>
				</div>
				<div class="section-tarifs__text">
					<h3 class="section-tarifs__title">Сборка компьютера</h3>
					<p>
						Принимает от самого лёгкого до самого сложного. Наш Нижегородский
						сервер осуществляет множество операций: ремонт компьютерной техники,
						замена каких-либо частей, усовершенствование
					</p>
				</div>
				<div class="section-tarifs__price-inner">
					<span class="section-tarifs__price">1000 р</span>
					<button class="btn section-tarifs__btn" data-modal="order">Оставить заявку</button>
				</div>
			</div>
		</div>
	</div>
</section>
