<section class="section section-team" id="team">
  <div class="container">
    <div class="section-header">
      <h3 class="section-header__title title">Сотрудники</h3>
    </div>
    <div class="section-team__inner">
      <div class="section-team__item">
        <div class="section-team__img">
          <img src="assets/templates/images/team/team-1.jpg" alt="">
        </div>
        <div class="section-team__text">
          <p class="section-team__name">Дмитрий</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Там, домах
            рукопись деревни ты себя, образ парадигматическая пояс ipsum повстречался, собрал одна речью
            подзаголовок языкового снова жаренные маленький свою.</p>
        </div>
      </div>
      <div class="section-team__item">
        <div class="section-team__img">
          <img src="assets/templates/images/team/team-2.jpg" alt="">
        </div>
        <div class="section-team__text">
          <p class="section-team__name">Дмитрий</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Там, домах
            рукопись деревни ты себя, образ парадигматическая пояс ipsum повстречался, собрал одна речью
            подзаголовок языкового снова жаренные маленький свою.</p>
        </div>
      </div>
      <div class="section-team__item">
        <div class="section-team__img">
          <img src="assets/templates/images/team/team-3.jpg" alt="">
        </div>
        <div class="section-team__text">
          <p class="section-team__name">Дмитрий</p>
          <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Там, домах
            рукопись деревни ты себя, образ парадигматическая пояс ipsum повстречался, собрал одна речью
            подзаголовок языкового снова жаренные маленький свою.</p>
        </div>
      </div>
    </div>
  </div>
</section>