.btn {
  width: 100%;
  background-color: $primary;
  padding: 8px 20px 8px;
  color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items:center;
  display: inline-block;
}